<div class="t1_nav navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="t1_container clearfix">
    <ul class="nav navbar-nav visible-md visible-lg t1_toplinks">
      <li class="navbar-text">
        <a class="navbar-link" href="#">Recent Postings</a>
      </li>
      <li class="navbar-text">
        <a class="navbar-link" href="#">Calendar</a>
      </li>
      <li class="navbar-text">
        <a class="navbar-link" href="#">Publications</a>
      </li>
      <li class="navbar-text">
        <a class="navbar-link" href="#">Site Map</a>
      </li>
      <li class="navbar-text">
        <a class="navbar-link" href="#">A-Z index</a>
      </li>
      <li class="navbar-text">
        <a class="navbar-link" href="#">Careers</a>
      </li>
      <li class="navbar-text">
        <a class="navbar-link" href="#">FAQs</a>
      </li>
      <li class="navbar-text">
        <a class="navbar-link" href="#">Videos</a>
      </li>
      <li class="navbar-text">
        <a class="navbar-link" href="#">Contact</a>
      </li>
    </ul>
    <div
      class="btn-group visible-xs-table-cell visible-sm-table-cell t1__dropdown"
    >
      <span
        class="icon icon__md icon--right dropdown-toggle icon-options-nav"
        data-toggle="dropdown"
      >
        <span class="sr-only">Toggle Dropdown Menu</span>
      </span>
      <ul class="nav">
        <li class="navbar-text">
          <a
            class="navbar-link"
            href="https://www.federalreserve.gov/recentpostings.htm"
            >Recent Postings</a
          >
        </li>
        <li class="navbar-text">
          <a
            class="navbar-link"
            href="https://www.federalreserve.gov/newsevents/calendar.htm"
            >Calendar</a
          >
        </li>
        <li class="navbar-text">
          <a
            class="navbar-link"
            href="https://www.federalreserve.gov/publications.htm"
            >Publications</a
          >
        </li>
        <li class="navbar-text">
          <a
            class="navbar-link"
            href="https://www.federalreserve.gov/sitemap.htm"
            >Site Map</a
          >
        </li>
        <li class="navbar-text">
          <a
            class="navbar-link"
            href="https://www.federalreserve.gov/azindex.htm"
            >A-Z index</a
          >
        </li>
        <li class="navbar-text">
          <a
            class="navbar-link"
            href="https://www.federalreserve.gov/careers.htm"
            >Careers</a
          >
        </li>
        <li class="navbar-text">
          <a class="navbar-link" href="https://www.federalreserve.gov/faqs.htm"
            >FAQs</a
          >
        </li>
        <li class="navbar-text">
          <a
            class="navbar-link"
            href="https://www.federalreserve.gov/videos.htm"
            >Videos</a
          >
        </li>
        <li class="navbar-text">
          <a
            class="navbar-link"
            href="https://www.federalreserve.gov/aboutthefed/contact-us-topics.htm"
            >Contact</a
          >
        </li>
        <li class="navbar-text navbar-text__social">
          <ul class="nav navbar-nav t1_social">
            <li class="social__item">
              <a
                data-icon="facebook"
                href="https://www.facebook.com/federalreserve"
                class="noIcon"
              >
                <div class="icon-facebook-color icon icon__sm"></div>
                <span class="sr-only"
                  >Link to Federal Reserve Facebook Page</span
                >
              </a>
            </li>
            <li class="social__item">
              <a
                data-icon="twitter"
                href="https://twitter.com/federalreserve"
                class="noIcon"
              >
                <div class="icon-twitter-color icon icon__sm"></div>
                <span class="sr-only"
                  >Link to Federal Reserve Twitter Page</span
                >
              </a>
            </li>
            <li class="social__item">
              <a
                data-icon="youtube"
                href="https://www.youtube.com/federalreserve"
                class="noIcon"
              >
                <div class="icon-youtube-color icon icon__sm"></div>
                <span class="sr-only"
                  >Link to Federal Reserve YouTube Page</span
                >
              </a>
            </li>
            <li class="social__item">
              <a
                data-icon="flickr"
                href="https://www.flickr.com/photos/federalreserve/"
                class="noIcon"
              >
                <div class="icon-flickr-color icon icon__sm"></div>
                <span class="sr-only">Link to Federal Reserve Flickr Page</span>
              </a>
            </li>
            <li class="social__item">
              <a
                data-icon="linkedin"
                href="https://www.linkedin.com/company/federal-reserve-board"
                class="noIcon"
              >
                <div class="icon-linkedin-color icon icon__sm"></div>
                <span class="sr-only">Federal Reserve LinkedIn Page</span>
              </a>
            </li>
            <li class="social__item">
              <a
                data-icon="rss"
                href="https://www.federalreserve.gov/feeds/feeds.htm"
                class="noIcon"
              >
                <div class="icon-rss-color icon icon__sm"></div>
                <span class="sr-only">Subscribe to RSS</span>
              </a>
            </li>

            <li class="social__item">
              <a
                data-icon="email"
                href="https://www.federalreserve.gov/subscribe.htm"
                class="noIcon"
              >
                <div class="icon-email-color icon icon__sm"></div>
                <span class="sr-only">Subscribe to Email</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<header class="jumbotron hidden-xs">
  <a class="jumbotron__link" href="#" title="Link to Home Page">
    <div class="container-fluid">
      <!-- <div class="imgStyle">
    <img src="assets/images/logo_exrates.jpg" alt="ExRates logo" >
    </div> -->

      <h1 class="jumbotron__heading">
        EX-Rates An Exchange rates value list for cryptocurrencies
      </h1>
      <p class="jumbotron__content">
        <em>
          Follow regularly updated rates of the most popular cryptocurrencies.
          Quotations are expressed in USD or BTC. Look for the virtual currency
          of your choice and check its average rate, market value and volume
          over the past 24 hours.
        </em>
      </p>
    </div>
  </a>
</header>

<nav
  class="nav-primary navbar hidden-xs affix-top"
  id="nav-primary"
  role="navigation"
>
  <ul class="nav navbar-nav" role="menubar"></ul>
</nav>

<div id="content" class="container container__main" role="main">
  <div class="row">
    <div class="page-header">
      <div class="header-group">
        <div id="page-title" class="page-title">
          <h2>Foreign Exchange Rates</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="note">
    <p>
      For information purposes only. We do not offer a cryptocurrency trading
      service. If you are interested in trading based on cryptocurrency exchange
      rate differences, go to Conotoxia Ltd. website, a company belonging to
      Conotoxia Holding group. Check the offer
    </p>
  </div>
  <!-- /end note -->
  <app-exrates-list></app-exrates-list>

  <div class="row">
    <div class="col-xs-12 footer__footer">
      <p class="text-uppercase footer__text footer__text--left">
        Federal Exchange System <em class="text-lowercase"></em> © 2022
        Conotoxia.com
      </p>
      <p class="footer__text footer__text--right">
        20th Street and Constitution Avenue N.W., Washington, DC 20551
      </p>
    </div>
  </div>
</div>
